---
import SecondaryCTA from "../../components/common/SecondaryCTA.astro";
---

<section class="space-y-3 px-8 my-14 md:px-48 xl:px-96">
  <input
    type="text"
    name="search"
    id="search"
    placeholder="Search"
    autofocus
    class="bg-[#2D2D2D] font-mono shadow-md text-spc-light border-0 w-full"
  />

  <SecondaryCTA text="advanced search." url="/" />
</section>
