---
import CommonHead from "@components/common/CommonHead.astro";
import CommonHeader from "@components/common/CommonHeader.astro";
import Footer from "@components/footer/Footer.astro";
import Next from "@components/common/Next.astro";
import Search from "@components/patrician-publications/Search.astro";
import Feature from "@components/patrician-publications/Feature.astro";
import PatricianPublicationCard from "@components/patrician-publications/PatricianPublicationCard.astro";

import "@fontsource/space-grotesk/400.css";
import "@fontsource/space-grotesk/700.css";
import "@fontsource/space-mono/400.css";

const dummyPostImgs = [
  "https://unsplash.com/photos/aaIN3y2zcMQ/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8ODd8fHdhbGxwYXBlcnxlbnwwfDB8fHwxNjkyMTMwMjMzfDA&force=true&w=1920",
  "https://unsplash.com/photos/ABtmE3jhaPQ/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkyMTc5ODc5fA&force=true&w=1920",
  "https://unsplash.com/photos/p9u_ncr53sQ/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTh8fHBsYXlncm91bmR8ZW58MHwwfHx8MTY5MjE2NDQzM3ww&force=true&w=1920",
  "https://unsplash.com/photos/70YxSTWa2Zw/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTV8fGZvb3RiYWxsfGVufDB8MHx8fDE2OTIxODE3OTV8MA&force=true&w=1920",
];

const test_desc = `remained a bastion
    of academic excellence and character development in the vibrant city of
    Jaffna. With a storied history spanning over a minds and hearts of
    countless generations.`;

const nexts = [
  ["Home.", "/"],
  ["Our Spirituality.", "/our-spirituality"],
  ["Academics.", "/academics"],
  ["Sports.", "/sports"],
  ["Socities.", "socities"],
];
---

<html lang="en">
  <CommonHead title="Patrician Publications | SPC Media Unit | 175 years" />

  <body class="cursor-default bg-spc-dark text-spc-light font-sans">
    <CommonHeader title="Patrician<br/>Publications" />

    <Search />

    <main>
      <!-- Patrician Publication Featured -->
      <Feature />

      <!-- Patrician Publications Showcase 
        TODO: create a content collection and pass in the args
    -->

      <section class="my-16 px-6">
        {
          dummyPostImgs.map((img) => (
            <PatricianPublicationCard
              imgSrc={img}
              title="Battle of Golds"
              date="May 19, 2003"
              desc={test_desc}
            />
          ))
        }
      </section>
    </main>

    <Next nexts={nexts} />
    <Footer />
  </body>
</html>
