---
import CommonHead from "../../components/common/CommonHead.astro";
import Loader from "../../components/common/Loader.astro";
import { get_api_route } from "../../config/global";
import PageLayout from "../../layouts/PageLayout.astro";

export function getStaticPaths() {
    return [{
        params: { path: "1" }
    },{
        params: { path: "2" }
    },{
        params: { path: "3" }
    }
    ];
}

const {slug}= Astro.params;
---

<PageLayout meta={{title: "Author Test Page"}}>
    <div
        hx-get={get_api_route("read-post-html") + "&path=" + slug}
        hx-swap="innerHTML"
        hx-trigger="load"
    >
        <div>
            <Loader />
        </div>
    </div>
</PageLayout>
