---
import CommonHead from "@components/common/CommonHead.astro";
import CommonHeader from "@components/common/CommonHeader.astro";
import Footer from "@components/footer/Footer.astro";
import BackButton from "@components/patrician-publications/BackButton.astro";
import MobileNavButton from "@components/common/MobileNavButton.astro";
import HTMX from "@components/common/HTMX.astro";

import "@fontsource/space-grotesk/400.css";
import "@fontsource/space-grotesk/700.css";
import "@fontsource/space-mono/400.css";
import "@components/common/swup.css";
import Table from "../../components/author/Table.astro";

const { meta } = Astro.props;
---


<html lang="en">
<CommonHead
    title="Manage Content | SPC Media Unit"
/>

<body x-data="{open:false}" class="cursor-default bg-spc-dark text-spc-light font-sans">
<CommonHeader title="Manage Content | SPC Media Unit" />

<main>
    <section class="px-6 md:px-12 xl:px-96 ">
        <BackButton />
    </section>

    <section class="px-6 mt-8 md:px-12 xl:px-96 ">
        <h1 class="font-bold text-4xl leading-[95%]">Manage Content</h1>
    </section>

    <div class="px-96 my-8">
        <div class="flex justify-start items-baseline space-x-2">
            <a
                href="/author/new"
                class="w-fit flex justify-start items-center space-x-2 bg-spc-light text-spc-green font-bold px-4 py-2 rounded-sm my-1 ">
            <span class="pr-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M12 4.5v15m7.5-7.5h-15">
                        </path>
                </svg>
            </span>
                Create new content
            </a>
            <a
                href="/author/new-blog"
                class="w-fit flex justify-start items-center space-x-2 bg-spc-light text-spc-green font-bold px-4 py-2 rounded-sm my-1 ">
            <span class="pr-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M12 4.5v15m7.5-7.5h-15">
                        </path>
                </svg>
            </span>
                Create new blog
            </a>
        </div>

        <div class="htmxenable my-4">
            <Table />
        </div>
    </div>

</main>
<Footer />
<MobileNavButton />

<HTMX />
<!--
<script>

    document.addEventListener("swup:enable", () => {
        console.log("hooking1..");
        window.swup.hooks.on("page:view", () => {
            const titleElem = document.querySelector("#title");
            console.log("hooking2..");
            titleElem.addEventListener("change", (e) => {
                console.log(e.value);
            });

            let path = "";
            window.htmx.on("htmx:afterSwap", function(e) {
                path = e.target[0].value;

                const pathElem = document.querySelector("#path");
                pathElem.addEventListener("input", (e) => {
                    path = e.target.value;
                });
            });

            document.querySelector("#editcontent")?.addEventListener("click", () => {
                window.location = "/author/edit?path=" + path;
            });

            document.querySelector("#newcontent")?.addEventListener("click", () => {
                window.location = "/author/new";
            });

            document.querySelector("#newblog")?.addEventListener("click", () => {
                const titleElem = document.querySelector("#title");
                window.location = "/author/new-blog?title=" + titleElem.value;
            });
        });
    });

</script>
-->
</body>
</html>



