---
import Team from "./Team.astro";
const { group, team } = Astro.props;
---

<div>
  <h2
    class="text-spc-sea font-serif font-bold text-2xl tracking-wide mt-12 mb-4"
  >
    {group}
  </h2>
  <div class="md:grid md:grid-cols-2 md:gap-4">
    {
      team.map((t: { name: string; img: string }) => (
        <Team team={t.name} img={t.img} />
      ))
    }
  </div>
</div>
