---
import PageLayout from "layouts/PageLayout.astro";
import Loader from "components/common/Loader.astro";

import { get_api_route } from "config/global";
import { NEW_NAVS } from "config/navigation";

export async function getStaticPaths() {
    return NEW_NAVS.map(i => i.children.map(j => ({
        parentLink: i.link,
        parentTitle: i.title, ...j
    }))).flat().map(l => ({
        params: { slug: l.parentLink + '/' + l.link },
        props: {
            meta: { title: l.parentTitle + '  /  ' + l.title }
        }
    }));
}

const { meta } = Astro.props;
const { slug } = Astro.params;
---

<PageLayout meta={meta}>
    <div
        hx-get={get_api_route("read-post-html") + "&path=" + slug}
        hx-swap="innerHTML"
        hx-trigger="load"
    >
        <div>
            <Loader />
        </div>
    </div>
</PageLayout>
