---

import CommonHead from "../components/common/CommonHead.astro";
import { get_api_route } from "../config/global";---

<html>
<CommonHead title="Author Render Test" />

<body class="cursor-default bg-spc-dark text-spc-light font-sans">
<article
    class=" md:px-12 xl:px-96 mb-20 mt-8 prose-sm prose-headings:px-6 prose-headings:font-bold prose-h1:text-3xl prose-h2:prose-xl prose-ul:list-disc prose-ol:list-decimal prose-ul:px-16 prose-p:px-6 xl:prose-p:px-24 md:prose-p:text-lg text-spc-light/75"
    hx-get={get_api_route("read-post-html")+"&path=zB1"} hx-swap="innerHTML" hx-trigger="load">

</article>
<script
    is:inline
    src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"></script>

<script>
    document.body.addEventListener('htmx:beforeSwap', function (evt) {
        if (evt.detail.xhr.status === 400) {
            evt.detail.shouldSwap = true;
        }
    });
</script>
</body>
</html>
