---
import "@fontsource/playfair-display/400.css";
import "@fontsource/space-grotesk/400.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Birnadin Erick <birn.cc>" />
    <title>St. Patrick's College | SPC Media Unit</title>
  </head>
  <body>
    <h1 class="">Welcome 175!</h1>
  </body>
</html>
