---
import CommonHead from "../components/common/CommonHead.astro";
import CommonHeader from "../components/common/CommonHeader.astro";
import Footer from "../components/footer/Footer.astro";
import Hero from "../components/home/Hero.astro";
import AboutText from "../components/home/AboutText.astro";
import PatricianToday from "../components/home/PatricianToday.astro";

import "@fontsource/space-grotesk/400.css";
---

<html lang="en">
  <CommonHead title="St. Patrick's College | SPC Media Unit | 175 years" />

  <body class="cursor-default bg-spc-dark text-spc-light font-sans">
    <CommonHeader title="St. Patrick's <br/> College" />
    <Hero />
    <AboutText />
    <PatricianToday />
    <Footer />
  </body>
</html>
