---
import CommonHead from "@components/common/CommonHead.astro";
import CommonHeader from "@components/common/CommonHeader.astro";
import Footer from "@components/footer/Footer.astro";
import Hero from "@components/home/Hero.astro";
import AboutText from "@components/home/AboutText.astro";
import PatricianToday from "@components/home/PatricianToday.astro";
import PatricianNorms from "@components/home/PatricianNorms.astro";
import Next from "@components/common/Next.astro";

import "@fontsource/space-grotesk/400.css";
import AuthBanner from "../components/auth/AuthBanner.astro";

const nexts = [
  ["Patrician Publications.", "/patrician-publications"],
  ["Our Spirituality.", "/our-spirituality"],
  ["Academics.", "/academics"],
  ["Sports.", "/sports"],
  ["Societies.", "societies"],
];
---

<html lang="en">
  <CommonHead title="St. Patrick's College | SPC Media Unit | 175 years" />

  <body class="cursor-default bg-spc-dark text-spc-light font-sans" x-data="{open:false}">
    <CommonHeader
      now="Home"
      title="St. Patrick's College <br/> Digital Experience"
    />

    <Hero />
    <AboutText />
    <PatricianToday />
    <PatricianNorms />
    <Next nexts={nexts} />
    <Footer />
    <AuthBanner />
    <div x-on:click="open = !open" class="absolute bg-spc-dark-green items-center flex justify-around text-spc-gold w-12 h-12 bottom-2 right-2 overflow-hidden p-2 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </div>

    <script
        is:inline
        src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"></script>
  </body>
</html>
