---
import CommonHead from "@components/common/CommonHead.astro";
import CommonHeader from "@components/common/CommonHeader.astro";
import Footer from "@components/footer/Footer.astro";
import Hero from "@components/home/Hero.astro";
import AboutText from "@components/home/AboutText.astro";
import PatricianToday from "@components/home/PatricianToday.astro";
import PatricianNorms from "@components/home/PatricianNorms.astro";
import Next from "@components/common/Next.astro";

import "@fontsource/space-grotesk/400.css";

const nexts = [
  ["Patrician Publications.", "/patrician-publications"],
  ["Our Spirituality.", "/our-spirituality"],
  ["Academics.", "/academics"],
  ["Sports.", "/sports"],
  ["Socities.", "socities"],
];
---

<html lang="en">
  <CommonHead title="St. Patrick's College | SPC Media Unit | 175 years" />

  <body class="cursor-default bg-spc-dark text-spc-light font-sans">
    <CommonHeader
      now="Home"
      title="St. Patrick's College <br/> Digital Experience"
    />

    <Hero />
    <AboutText />
    <PatricianToday />
    <PatricianNorms />
    <Next nexts={nexts} />
    <Footer />
    <div
      class="xl:flex space-y-2 xl:space-y-0 xl:justify-around xl:items-baseline bottom-0 fixed px-4 overflow-hidden xl:px-96 bg-spc-bg-mid/80 backdrop-blur-md py-6 xl:py-8 w-full"
    >
      <p class="text-sm lg:text-xl font-bold">Login to enjoy more</p>
      <div class="space-x-2 lg:space-x-0">
        <a
          href="/auth/login"
          class="bg-spc-dark px-4 text-sm lg:text-lg py-2 hover:bg-spc-dark/80 rounded-sm"
          >Login</a
        >
        <a
          href="/auth/signin"
          class="bg-spc-bg-mid px-4 text-sm lg:text-lg py-2 hover:bg-spc-bg-mid/80 rounded-sm"
          >Create New Account</a
        >
      </div>
    </div>

  </body>
</html>
