---
import CommonHead from "@components/common/CommonHead.astro";
import CommonHeader from "@components/common/CommonHeader.astro";
import Footer from "@components/footer/Footer.astro";
import Hero from "@components/home/Hero.astro";
import AboutText from "@components/home/AboutText.astro";
import PatricianToday from "@components/home/PatricianToday.astro";
import PatricianNorms from "@components/home/PatricianNorms.astro";
import AuthBanner from "@components/auth/AuthBanner.astro";
import MobileNavButton from "@components/common/MobileNavButton.astro";
import StaggerText from "../components/common/stagger-text/StaggerText.astro";
import HTMX from "../components/common/HTMX.astro";

import "@fontsource/space-grotesk/400.css";
import "@components/common/swup.css";
---

<html lang="en">
<CommonHead title="St. Patrick's College | SPC Media Unit | 175 years" />

<body class="cursor-default bg-spc-dark text-spc-light font-sans" x-data="{open:false}">
<CommonHeader
    now="Home"
    title="Fide et Labore"
/>

<main>
    <Hero />

    <AboutText />

    <section class="flex justify-around items-center">
        <StaggerText>
            <h1 class="text-[42px] sm:text-[60px] md:text-[80px] lg:text[100px] xl:text-[180px] 2xl:text-[240px] font-serif text-spc-gold font-bold content__title"
                data-splitting data-stagger-text>
                Fide et Labore
            </h1>
        </StaggerText>
    </section>

    <PatricianToday />

    <PatricianNorms />

</main>

<Footer />

<AuthBanner />

<MobileNavButton />

<HTMX />

</body>
</html>
