---
import SectionTitle from "../common/SectionTitle.astro";
---

<section class="px-12 my-20">
  <SectionTitle title="Unleash the <br /> Luck of Learning." />
  <p class="mt-6">
    Since its inception in{" "}
    <span class="text-white font-bold">1850</span>, St. Patrick's College has
    remained a bastion of academic excellence and character development in the
    vibrant city of Jaffna. With a storied history spanning over a century, the
    school has been dedicated to shaping the minds and hearts of countless
    generations. Grounded in tradition yet open to innovation, the college
    prides itself on nurturing adaptable individuals who are poised to lead and
    drive progress in an ever-changing world.
  </p>
</section>
