---
const { norm, desc } = Astro.props;
---

<div class="p-4 rounded-sm drop-shadow-md bg-spc-bg-mid/60">
  <h3 class="mb-2 md:mb-0 text-lg font-bold underline underline-offset-8">
    {norm}
  </h3>

  <p class="text-spc-light/80 md:mt-2">{desc}</p>
</div>
