---
import HTMX from "../../components/common/HTMX.astro";
import Footer from "../../components/footer/Footer.astro";
import CommonHead from "../../components/common/CommonHead.astro";
import CommonHeader from "../../components/common/CommonHeader.astro";
import BackButton from "../../components/patrician-publications/BackButton.astro";
import MobileNavButton from "../../components/common/MobileNavButton.astro";
import { get_api_route } from "../../config/global";
import Loader from "../../components/common/Loader.astro";

import "@components/common/swup.css";
---

<html lang="en">
<CommonHead
    title="SPC Aiding Projects | SPC Media Unit"
/>

<body x-data="{open:false}" class="cursor-default bg-spc-dark text-spc-light font-sans">
<CommonHeader title="SPC Aiding Projects" />

<main>
    <section class="px-6 md:px-12 xl:px-96 ">
        <BackButton />
    </section>

    <section class="px-6 md:px-12 xl:px-96 my-6 htmxenable"
             hx-get={get_api_route("project-detail")} hx-swap="innerHTML" hx-trigger="load">
        <Loader />
    </section>


    <section class="px-6 md:px-12 xl:px-96 my-12 ">
        <h3 class="text-spc-light font-bold text-xl">Discussion Forum</h3>

        <div class="htmxenable" hx-get={get_api_route("project-comment")}
             hx-swap="outerHTML" hx-trigger="load delay:200ms">
            <Loader />
        </div>
    </section>

</main>
<Footer />
<MobileNavButton />
<HTMX />

<script is:inline>
    document.body.addEventListener("htmx:configRequest", function(e) {
        const queryStr = window.location.search;
        const searchParams = new URLSearchParams(queryStr);
        e.detail.parameters["project_id"] = searchParams.get("pid");
    });
</script>
</body>
</html>