---
import CommonHead from "@components/common/CommonHead.astro";
import CommonHeader from "@components/common/CommonHeader.astro";
import Footer from "@components/footer/Footer.astro";
import SectionTitle from "@components/common/SectionTitle.astro";
import BackButton from "@components/patrician-publications/BackButton.astro";
import {get_api_route} from "@config/global";

import "@fontsource/space-grotesk/400.css";
import "@fontsource/space-grotesk/700.css";
import MobileNavButton from "../../components/common/MobileNavButton.astro";
---

<html lang="en">
<CommonHead title="Log In | SPC Media Unit | 175 years"/>

<body x-data="{open : false}" class="cursor-default bg-spc-dark text-spc-light font-sans">
<CommonHeader title="Digital <br/>Patrician"/>

<section class="px-6 my-8 md:px-12 lg:px-24 xl:px-[30%]">
    <BackButton/>
</section>

<section class="px-6 my-8 md:px-12 lg:px-24 xl:px-[30%]">
    <SectionTitle title="Initiate new project."/>
</section>

<section class="px-6 my-8 md:px-12 lg:px-24 xl:px-[30%]">
    <form hx-post={get_api_route("projects")} hx-swap="outerHTML">
        <div class="mb-4">
            <label class="block mb-1" for="title">Title</label>
            <div
                class="bg-gradient-to-b w-full from-[#5ABF64] to-spc-gold p-[1px]"
            >
                <input
                    class="text-white bg-spc-dark w-full focus:ring-0"
                    type="text"
                    name="project_title"
                    id="title"
                    spellcheck="true"
                    autofocus
                />
            </div>
        </div>
        <div class="mb-8">
            <label class="block mb-1" for="desc">Description</label>
            <div
                class="bg-gradient-to-b w-full from-[#5ABF64] to-spc-gold p-[1px]"
            >
                <textarea
                    class="text-white bg-spc-dark w-full focus:ring-0 focus:outline-0"
                    name="desc"
                    id="desc"
                />
            </div>
        </div>
        <div class="mb-8">
            <label class="block mb-1" for="deadline">Estimated Deadline</label>
            <div
                class="bg-gradient-to-b w-full from-[#5ABF64] to-spc-gold p-[1px]"
            >
                <input
                    class="text-white bg-spc-dark w-full focus:ring-0 focus:outline-0"
                    type="date"
                    name="deadline"
                    id="deadline"
                />
            </div>
        </div>
        <div class="mb-8">
            <label class="block mb-1" for="amount">Projected Money Value in EUR</label>
            <div
                class="bg-gradient-to-b w-full from-[#5ABF64] to-spc-gold p-[1px]"
            >
                <input
                    class="text-white bg-spc-dark w-full focus:ring-0 focus:outline-0"
                   type="number"
                    name="amount"
                    id="amount"
                />
            </div>
        </div>
        <div class="flex justify-end space-x-6 items-center">
            <button
                class="font-bold px-4 py-2 bg-white text-spc-green"
                type="submit">Submit for evaluation
            </button
            >
        </div>
    </form>
</section>

<Footer/>
<MobileNavButton/>

<script
    is:inline
    src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"></script>

<script>
    document.body.addEventListener('htmx:beforeSwap', function (evt) {
        if (evt.detail.xhr.status === 400) {
            evt.detail.shouldSwap = true;
        }
    });
</script>
</body>
</html>
