<p class="mt-10 text-sm text-white/60">
  <span class="text-white"> All rights reserved by SPC Media Unit.</span>{" "}
  Neither code nor graphics can be used without prior written knowledge of the Unit
  Members. Source text is owned by the members of{" "}
  <span class="text-white/75">2022&apos;s SPC Media Unit</span>.
</p>
<p class="mt-4 text-sm text-white/60">
  Proudly developed in Jaffna, by SPC Media Unit 2022.
</p>
