---
const { title } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Birnadin Erick <birn.cc>" />
  <title>{title}</title>
  <style>
    [x-cloak] { display: none !important; }
  </style>
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
</head>
