---
import { NEW_NAVS } from "../../config/navigation";
import { get_api_route } from "../../config/global";
---
<!--suppress ALL -->

<style>
    hr {
        @apply border-spc-light/20 border my-2;
    }
</style>

<nav class="px-12">
    <div x-data={`{ navs: ${JSON.stringify(NEW_NAVS)} }`}
         class="flex justify-around items-center space-x-2"
    >
        <div class="flex items-center space-x-4 justify-start">
            <div class="size-12 rounded-full bg-spc-gold overflow-clip">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.3"
                     stroke="currentColor" class="size-12 text-spc-dark-green">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
            </div>

            <div x-on:click.outside="open = false" hx-get={get_api_route("auth-state")} hx-trigger="load delay:300ms">
            </div>
        </div>

        <template x-for="nav in navs" :key="nav.title">
            <ul>
                <div x-data="{ open: false }" class="relative inline-block text-left group" @mouseover="open = true"
                     @mouseleave="open = false">
                    <template x-if="nav.children.length > 0">
                        <div>
                            <!-- Dropdown Button -->
                            <button x-on:click="open = !open" type="button"
                                    class="inline-flex w-full justify-center gap-x-1.5 rounded-sm px-3 py-2 text-sm font-semibold group-hover:underline group-hover:underline-offset-4"
                                    id="menu-button" aria-expanded="true" aria-haspopup="true">
                                <span x-text="nav.title"></span>
                                <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                     aria-hidden="true">
                                    <path fill-rule="evenodd"
                                          d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                          clip-rule="evenodd" />
                                </svg>
                            </button>
                            <!-- Dropdown Menu -->
                            <div x-show="open" x-transition:enter="transition ease-out duration-100"
                                 x-transition:enter-start="transform opacity-0 scale-95"
                                 x-transition:enter-end="transform opacity-100 scale-100"
                                 x-transition:leave="transition ease-in duration-75"
                                 x-transition:leave-start="transform opacity-100 scale-100"
                                 x-transition:leave-end="transform opacity-0 scale-95"
                                 class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-sm bg-spc-bg-mid shadow-lg text-spc-light ring-1 ring-black ring-opacity-5 focus:outline-none"
                                 role="menu" aria-orientation="vertical" aria-labelledby="menu-button"
                                 tabindex="-1">
                                <div class="py-1" role="none">
                                    <template x-for="child in nav.children" :key="child.title">
                                        <a :href="`/${nav.link}/${child.link}`"
                                           class="font-bold block px-4 py-2 text-sm hover:bg-spc-gold hover:text-black transition-colors duration-200 ease-in-out"
                                           role="menuitem" tabindex="-1" x-text="child.title"></a>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template x-if="nav.children.length === 0">
                        <a :href="`/${nav.link}`"
                           class="inline-flex w-full justify-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-semibold group-hover:underline group-hover:underline-offset-4"
                           x-text="nav.title"></a>
                    </template>
                </div>
            </ul>
        </template>
    </div>
</nav>
