---
const { text, url } = Astro.props;
---

<div
  class="bg-gradient-to-br from-spc-sea to-spc-gold p-[3px] max-w-fit text-spc-light"
>
  <a href={url}>
    <div class="bg-spc-dark p-2 flex justify-between items-center space-x-4">
      <span class="font-bold font-sans">{text}</span>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
      </svg>
    </div>
  </a>
</div>
