---
import Loader from "@components/common/Loader.astro";
import CommonHead from "@components/common/CommonHead.astro";
import CommonHeader from "@components/common/CommonHeader.astro";
import Footer from "@components/footer/Footer.astro";
import BackButton from "@components/patrician-publications/BackButton.astro";
import MobileNavButton from "@components/common/MobileNavButton.astro";
import HTMX from "@components/common/HTMX.astro";

import { get_api_route } from "@config/global";

import "@fontsource/space-grotesk/400.css";
import "@fontsource/space-grotesk/700.css";
import "@fontsource/space-mono/400.css";
---

<html lang="en">
<CommonHead
    title="Patrician Publications | SPC Media Unit | 175 years"
/>

<body x-data="{open:false}" class="cursor-default bg-spc-dark text-spc-light font-sans">
    <CommonHeader title="Patrician<br/>Publications" />

    <section class="md:px-12 xl:px-96">
        <div class="px-6">
            <BackButton />
        </div>

        <div hx-get={get_api_route("read-blog-html")}
             hx-trigger="load"
             hx-swap="innerHTML">
            <Loader />
        </div>
    </section>

    <Footer />
    <MobileNavButton />

    <HTMX />

    <script is:inline>
        document.body.addEventListener("htmx:configRequest", function(e) {
            const queryStr = window.location.search;
            const searchParams = new URLSearchParams(queryStr);
            e.detail.parameters["path"] = "/blogs/entry?p=" + searchParams.get("p");
        });
    </script>
</body>
</html>
