---
import CommonHead from "@components/common/CommonHead.astro";
import CommonHeader from "@components/common/CommonHeader.astro";
import Footer from "@components/footer/Footer.astro";
import Next from "@components/common/Next.astro";
import BackButton from "@components/patrician-publications/BackButton.astro";
import MobileNavButton from "../components/common/MobileNavButton.astro";
import HTMX from "../components/common/HTMX.astro";
import SWUP from "../components/common/SWUP.astro";

import "@fontsource/space-grotesk/400.css";
import "@fontsource/space-grotesk/700.css";
import "@fontsource/space-mono/400.css";
import "@components/common/swup.css";

// TODO: need replace with next article
const nexts = [
    ["Home.", "/"],
    ["Our Spirituality.", "/our-spirituality"],
    ["Academics.", "/academics"],
    ["Sports.", "/sports"],
    ["Clubs & Socities.", "clubs-and-socities"]
];

const { meta } = Astro.props;
---


<html lang="en">
<CommonHead
    title={meta.title}
/>

<body x-data="{open:false}" class="cursor-default bg-spc-dark text-spc-light font-sans">
<CommonHeader title={meta.title} />

<main>
    <section class="px-6 md:px-12 xl:px-96 ">
        <BackButton />
    </section>

    <section class="px-6 mt-8 md:px-12 xl:px-96 ">
        <h1 class="font-bold text-4xl leading-[95%]">{meta.title}</h1>
    </section>

    <slot />

</main>
<Next nexts={nexts} />
<Footer />
<MobileNavButton />

<HTMX />
</body>
</html>
