---
import {get_api_route} from "@config/global";

export const partial = true;
---

<p class="text-sm lg:text-xl font-bold">Login to enjoy more</p>
<div class="space-x-2 lg:space-x-0">
    <form action={get_api_route("logout")} method="post">
        <button
                type="submit"
                class="bg-spc-dark px-4 text-sm lg:text-lg py-2 hover:bg-spc-dark/80 rounded-sm"
        >Logout
        </button
        >
    </form>
</div>
