---
import {get_api_route} from "../../config/global";
---

<div
        class="xl:flex space-y-2 xl:space-y-0 xl:justify-around xl:items-baseline bottom-0 fixed px-4 overflow-hidden xl:px-96 bg-spc-bg-mid/80 backdrop-blur-md py-6 xl:py-8 w-full"
        hx-get={get_api_route("auth-state")}
        hx-trigger="load"
>
</div>
